{% extends 'base.html.twig' %}

{% block title %}Hello WeatherController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { 
        margin: 1em auto; 
        max-width: 800px; 
        width: 95%; 
        font: 18px/1.5 
        sans-serif;
    }

    .example-wrapper { 
        text-align: center;        
        background: #F5F5F5;
        padding: 50px;
        border-radius: 15px;
    }

    .hot {
        background: #ED213A;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #93291E, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    .cold {
        background: #43cea2;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #185a9d, #43cea2);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #185a9d, #43cea2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }
</style>

<div class="example-wrapper" id="wrapper">
    <h1>Prognoza pogody</h1>
    {{ form_start(form) }}
        {{ form_label(form.City, 'Miasto: ') }}
        {{ form_widget(form.City) }}
        {{ form_label(form.Country, 'Kraj: ') }}
        {{ form_widget(form.Country) }}
        {{ form_row(form.Submit, { 'label': 'Sprawdź' }) }}
    {{ form_end(form) }}

    <h3>Prognoza</h3>
    {% if temperature == 'Brak danych' %}
        Temperatura: {{ temperature }}
    {% else %}
        Temperatura: {{ temperature }} &deg;C
    {% endif %}
</div>


<script>
    let temperature = '{{ temperature }}';

    let element = document.getElementById('wrapper');

    console.log(document.getElementById('wrapper'));
    if (temperature >= 0) {
        element.classList.add('hot');
    } else {
        element.classList.add('cold');
    }
</script>
{% endblock %}
